:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:"Inter";
    --botao-azul-efeito:#7861df;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font: 16px;
    font-weight: 400;
    
}

*{
    margin: 0;
    padding: 0;
}

/*PAGINA 1*/

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    /*ocupa a section toda*/
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    /*vh= 100% da tela do usuario*/
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display:  block;
    margin-bottom: 1em;
    

}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700px;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 0 0 6em;
}


/*PAGINA 2*/

.secundario__imagem{
    width: 80%;
    
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 70px;
    color: var(--branco-principal);
}

.descricao__texto{
    font-size: 16px;
    color: var(--cinza-secundario);
    margin-top: 0.5em;
}

/*PAGINA 3*/

.botao_terceiro{
    margin-top: 1em;
    display: inline-block;
    
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    margin: 5em 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin-bottom: 6em;
}


.rodape__logo{
    margin-top: 7em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 0 0 0;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin: 0 0.5em 0 0.5em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: yellow
}

.rodape__texto{
    font-size: 14px;
    margin: 2em 0 2em 0;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    transition: 1s;
}